[submodule "upstream/deskworlds"]
	path = upstream/deskworlds
	url = https://github.com/chaseleantj/deskworlds.git
[submodule "upstream/caustic-volume"]
	path = upstream/caustic-volume
	url = https://github.com/ScottieFox/caustic-volume.git
